.App{
  margin-left: 38rem;
  margin-top: 16rem;
}
.form-control{
  margin: 10px;
}
.email{
  margin-left: 42px;
}
.btn{
  margin-top: 10px;
  margin-left: 85px;
  background-color: black;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.list{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin-top: 10px;
  background-color:whitesmoke;
}
.obj{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
}
.remove{
  margin: 10px 0;
  background-color: white;
  color: black;
  border-style: none;
}
.reset{
  margin: 10px 0;

}